# Configuration sample.

[general]
host = "127.0.0.1"
http_port = 4141
https_port = 4142
domain = "knilxof.org"
db_path = "/tmp/domains.sqlite"
identity_directory = "/tmp/certs"
identity_password = "mypassword"
tunnel_ip = "1.2.3.4"

[pdns]
dns_ttl = 89
soa_content = "a.dns.gandi.net hostmaster.gandi.net 1476196782 10800 3600 604800 10800"
socket_path = "/tmp/powerdns_tunnel.sock"
mx_record = ""
caa_record = "0 issue \"letsencrypt.org\""
txt_record = ""

[email]
server = "mail.gandi.net"
user = "accounts@knilxof.org"
password = "******"
sender = "accounts@knilxof.org"
reclamation_title = "Reclaim your Mozilla IoT Gateway Domain"
reclamation_body = "Hello,\n\nYour reclamation token is: {token}\n\nIf you did not request to reclaim your gateway domain, you can ignore this email."
confirmation_title = "Welcome to your Mozilla IoT Gateway"
confirmation_body = "Hello,\n\nWelcome to your Mozilla IoT Gateway! To confirm your email address, follow this link: {link}"
success_page = """<!DOCTYPE html>
<html>
  <head><title>Email Confirmation Successful!</title></head>
  <body>
    <h1>Thank you for verifying your email.</h1>
  </body>
</html>"""
error_page = """<!DOCTYPE html>
<html>
  <head><title>Email Confirmation Error!</title></head>
  <body>
    <h1>An error happened while verifying your email.</h1>
  </body>
</html>"""
