name: build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mariadb
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        rustup install stable
        rustup default stable
        cargo install diesel_cli
    - name: Check builds
      run: |
        cargo build --features mysql
        cargo build --features postgres
        cargo build --features sqlite
    - name: Run integration tests
      run: |
        ./run_tests.sh
